<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav class="nav">
    <p>Welcome to Claims Central</p>
    <p>A convenient way to file a claim!</p>
</nav>
<body>
    <div class="container">   
        <form action="new_adjuster"class="form_containet">
        <fieldset>
            <legend>Adjuster Registration</legend>
            <p>Name: <input type="text" name="name"></p>
            <p>Adjuster Code: <input type="text" name="adj_code"></p>
        <button type="button" class="btn btn-default">Claim Generator</button>
        </fieldset>
        </form>
    </div>
</body>
</html>