<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav class="nav">
    <p>Welcome to Claims Central</p>
    <p>A convenient way to file a claim!</p>
</nav>
<body>
    <div class="container">   
        <div class="claim_assign">
            <p>Your claim number is: ""</p>
        </div>
        <form action=""class="form_container">
        <fieldset>
            <legend>Would you like to assign an adjuster</legend>
            <p>Name: <input type="text" name="name"></p>
            <p>Claim Number Code: <input type="text" name="adj_code"></p>
        <button type="button" class="btn btn-default">Assign Adjuster</button>
        </fieldset>
        </form>
    </div>
</body>
</html>